.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dcdcdc;
}

.task_input {
  font-size: 1.25rem;
  font-weight: 500;
  background: #f9f9f9;
  color: black;
  border: 1px solid #dfe3e6;
  border-radius: 0.313rem;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.938rem;
  width: 100%;
}
